# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# Bower dependency directory
app/public/vendor

# Config variables
app/public/js/source/config.js
!app/public/js/source/config.js.*

# Docs don't need to be on the master branch
doc
