doctype html
html(lang="en")
  head
    block title
        title Supercharge Your Front-End Workflow
    // bower:css
    // endbower
    link(rel="stylesheet" href="/css/all.min.css")
  body
    include ../partials/_header
    .main-content
      block content
    include ../partials/_footer
    // bower:js
    script(src='/vendor/bows/dist/bows.js')
    // endbower
    script(src='/js/all.min.js')
    block appscripts
