doctype html
html(lang="en")
  head
    block title
        title Supercharge Your Front-End Workflow
    // bower:css
    // endbower
    link(rel="stylesheet" href="/css/all.min.css")
  body
    block content
    // bower:js
    // endbower
    block appscripts
