// # typography.sass

// Site-wide rules to affect typography on different viewport sizes.
body
  background: $light
  color: $text
  font-family: $defaultFontFamily
  font-size: $defaultFontSize
  font-weight: $defaultFontWeight
  line-height: 1.375
  // Enables better kerning and (where available) ligatures.
  // - Not advisable on large projects; target individual sections instead
  text-rendering: optimizeLegibility

h1,h2,h3,h4,h5,h6
  color: $dark
  font-family: $headingFontFamily
  font-weight: $headingFontWeight

strong
  color: $dark

blockquote
  color: lighten($text, 20%)

// See the mixins file for how `setFontSizes` works.
+setFontSizes(16px)

@media screen and (min-width: 480px)
  +setFontSizes(18px)

@media screen and (min-width: 768px)
  +setFontSizes(20px)
