footer.site-footer
  ul.site-footer__nav
    li.site-footer__credit
      | Created with love and bear hugs by 
      a(href='http://lengstorf.com/') Jason Lengstorf
    li.site-footer__links
      | Learn: 
      a(href='http://git.io/vff2n') Docs
      |  | 
      a(href='http://git.io/vff20') Source Code
