header.site-header
  ul.site-header__nav
    li.site-header__brand
      a(href='/') Supercharged Workflow
    li.site-header__nav-item
      a(href='/blog/') Blog
    li.site-header__nav-item
      a(href='/about/') About
